{# cliente/actualizar.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Actualizar Cliente{% endblock %}

{% block body %}
    <h1>Actualizar Cliente</h1>

    {{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.apellidos) }}
    {{ form_row(form.email) }}
    {{ form_row(form.fechaNacimiento) }}
    {{ form_row(form.direccion) }}
    <p></p><button type="submit" class="btn btn-warning">Actualizar Cliente</button>
    {{ form_end(form) }}


    <p><a href="{{ path('cliente_listar') }}" class="btn btn-secondary boton_listado">Volver a la lista de clientes</a></p>

    {# Enlace al archivo CSS en el mismo directorio #}
    <link rel="stylesheet" href="{{ asset('css/crear_usuario.css') }}">
{% endblock %}
