    {# En cliente/listar.html.twig #}
    {% extends 'base.html.twig' %}

    {% block body %}
        <h1>Listado de Departamentos</h1>
        
        <ul>
            {% for departamento in departamentos %}

                    <p></p><br> <li>ID: {{ departamento.id }} - {{ departamento.nombre }}                    

                    {# Bot贸n para actualizar usuario #}
                    &nbsp;<a href="{{ path('departamento_actualizar', {'id': departamento.id}) }}" >Actualizar Usuario</a>

                    {# Bot贸n para eliminar usuario #}
                    &nbsp;<a href="{{ path('departamento_borrar', {'id': departamento.id}) }}" >Eliminar Usuario</a>

                </li>
            {% endfor %}
        </ul>
        
        {# Bot贸n para redirigir a la creaci贸n de usuario #}
        <br>&nbsp; &nbsp; &nbsp;<a href="{{ path('departamento_nuevo') }}" class="btn btn-secondary boton_listado">Crear Usuario</a>
        {# Enlace al archivo CSS en el mismo directorio #}
        <link rel="stylesheet" href="{{ asset('css/crear_usuario.css') }}">
    {% endblock %}
